html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game
{
    float: left;

    background-color: black;
    color: white;

    font-family: 'VT323';
    font-size: 5vh;
    text-align: center;
}

#gametable
{
    height: 100%;
    width: 100%;
}

#gametable tr td div
{
    height: 95%;
    width: 95%;
    margin: auto;
    background-color: white;
}

#menu
{
    float: left;

    background-color: white;
    color: black;

    font-family: 'VT323';
    font-size: 5vh;
    text-align: center;
}